# ignore everything
*
# dotfiles too
*. 

!.gitignore
!.file

# .xinitrc
!.xinitrc

# .config/i3/config
!.config
!.config/i3
!.config/i3/config

# .zshrc
!.zshrc

# .i3blocks.conf
!.i3blocks.conf

# .config/mpv/mpv.conf
!.config
!.config/mpv
!.config/mpv/mpv.conf

# .config/dunst/dunstrc
!.config
!.config/dunst
!.config/dunst/dunstrc

# .vimrc
!.vimrc

# .config/termite/config
!.config
!.config/termite
!.config/termite/config

# .config/gh/config.yml
!.config
!.config/gh
!.config/gh/config.yml

# .config/mimeapps.list
!.config
!.config/mimeapps.list

# .fxrc
!.fxrc
