# ignore everything
*
# dotfiles too
*. 

!.gitignore
!.file

# .xinitrc
!.xinitrc

# .config/i3/config
!.config
!.config/i3
!.config/i3/config

# .zshrc
!.zshrc

# .i3blocks.conf
!.i3blocks.conf

# .config/mpv/mpv.conf
!.config
!.config/mpv
!.config/mpv/mpv.conf

# .config/dunst/dunstrc
!.config
!.config/dunst
!.config/dunst/dunstrc

# .vimrc
!.vimrc
