[advice]
  defaultBranchName = false
[user]
  name  = balazs4
  email = balazs4@{{hostname}}
[commit]
  verbose = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
  prunteTags = true
[pull]
  rebase = true
[rebase]
  instructionFormat = %s (%an)
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[merge]
  conflictStyle = zdiff3
[merge]
  tool = vimdiff
[alias]
  a = add
  c = commit
  browse = ~/.local/bin/git-browse
  d = diff
  ds = diff --staged
  s = status
  tree = "!git ls-files | tree --fromfile"
  vidir = "!git ls-files | vidir -"
[includeIf "hasconfig:remote.*.url:*github.com*/**"]
  path = ~/.gitconfig.github.com
[includeIf "hasconfig:remote.*.url:*gitlab.com*/**"]
  path = ~/.gitconfig.gitlab.com
[includeIf "hasconfig:remote.*.url:*codeberg.org*/**"]
  path = ~/.gitconfig.codeberg.org
[includeIf "hasconfig:remote.*.url:**/git.sr.ht/**"]
  path = ~/.gitconfig.sr.ht
