# Linux Darwin
[user]
  name = balazs4
  email = balas4web@gmail.com
[pull]
  rebase = true
[core]
#carbon   hooksPath = /home/balazs4/.hooks
#mcbpro  hooksPath = /Users/balazs4/.hooks
[init]
  defaultBranch = main
